<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="\static\css\bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='about.png') }}" rel="shortcut icon">

    <title>About..</title>
</head>

<body style="background-color:yellow;color:red;font-size:xx-large;align-self:auto;text-shadow:initial">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Youtube Downloader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Videos & Audio<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About (current)</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="jumbotron" style="background-color:orange;">
        <h1 class="display-4">About this website</h1>
        <p class="lead">This is a simple youtube downloader that can download videos and extract the music.</p>
        <hr class="my-4">
        <p>It uses python programming language and a web framework called flask.However I use bootstrap for client side looking</p>
        <a class="btn btn-danger" href="https://github.com/PROuserR/Youtube-Downloader" role="button">Learn more</a>
    </div>
</body>

</html>
